<div id="wrapper">
  <main>
    <div class="background">
      <img src="../../../../assets/imgs/background-1.png" alt="" />
    </div>
    <header>
      <img src="../../../../assets/imgs/title.png" alt="" />
    </header>
    <div class="content">
      <div class="content--left">
        <img src="../../../../assets/imgs/2024.png" alt="" />
      </div>
      <div class="content--right">
        <div class="content--right--top">
          <img src="../../../../assets/imgs/banner.png" alt="" />
        </div>
        <div class="content--right--box">
          <p class="content--right--box--title">điền thông tin tham gia</p>
          <div class="content--right--box--form">
            <input type="text" placeholder="Họ và tên" [(ngModel)]="name" />
            <input
              type="text"
              placeholder="Số điện thoại"
              [(ngModel)]="phone"
              (keyup)="phoneChange($event)"
            />
            <div class="button" (click)="playGame()">
              <img src="../../../../assets/imgs/wrap-btn.png" alt="" />
              <p class="button--text">Nhận lì xì</p>
            </div>
            <img src="../../../../assets/imgs/fan.png" alt="" class="fan" />
          </div>
        </div>
      </div>
    </div>
    <footer>
      <img src="../../../../assets/imgs/flower.png" alt="" />
    </footer>
  </main>
</div>
