<div id="wrapper">
  <main>
    <div class="background">
      <img src="../../../../assets/imgs/background-2.png" alt="" />
    </div>
    <header>
      <img src="../../../../assets/imgs/title.png" alt="" />
    </header>
    <div class="content">
      <div class="content--left">
        <img src="../../../../assets/imgs/2024.png" alt="" />
      </div>
      <div class="content--right">
        <div class="content--right--top">
          <img src="../../../../assets/imgs/banner.png" alt="" />
        </div>
        <div class="content--right--box">
          <div class="box-stick">
            <div class="box-stick--stick">
              <img
                src="../../../../assets/imgs/bar.png"
                alt=""
                class="stick stick-1"
              />
              <img
                src="../../../../assets/imgs/bar.png"
                alt=""
                class="stick stick-2"
              />
              <img
                src="../../../../assets/imgs/bar.png"
                alt=""
                class="stick stick-3"
              />
              <img
                src="../../../../assets/imgs/bar.png"
                alt=""
                class="stick stick-4"
              />
            </div>
            <div class="box-stick--box">
              <img
                src="../../../../assets/imgs/box.png"
                alt=""
                class="box-stick--box--img"
              />
            </div>
          </div>
          <div class="group-btn">
            <div class="button group-btn-play" (click)="onShake()">
              <img src="../../../../assets/imgs/wrap-btn.png" alt="" />
              <p class="button--text group-btn--text-play">Gieo quẻ</p>
            </div>
            <div class="button group-btn-count">
              <img src="../../../../assets/imgs/wrap-btn.png" alt="" />
              <p class="button--text group-btn--text-count">
                bạn còn {{turns}} lượt gieo quẻ
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="mask-gift">
      <header class="mask--header">
        <img src="../../../../assets/imgs/happy-new-year.png" alt="" />
      </header>
      <div class="background-color-mask"></div>
      <div class="content">
        <div class="content--envelop">
          <img
            src="../../../../assets/imgs/bar-loc-sac.png"
            alt=""
            class="envelop-loc-sac"
          />
        </div>
        <div class="wrap-content--envelop-base">
          <div class="content--envelop-base">
            <img src="../../../../assets/imgs/star.png" alt="" class="star" />
            <img
              src="../../../../assets/imgs/envelope.png"
              alt=""
              class="envelop"
            />
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
