#wrapper {
  width: 100%;
  position: relative;
  main {
    width: 100%;
    height: 900px;
    position: absolute;
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    z-index: 6;
    .background {
      position: absolute;
      width: 100%;
      height: 100%;
      img {
        width: 100%;
        height: 100%;
      }
      z-index: -1;
    }
    header {
      width: 100%;
      height: 200px;
      display: flex;
      justify-content: center;
      align-items: end;
      img {
        width: 80%;
      }
    }
    .content {
      width: 100%;
      height: 700px;
      display: grid;
      grid-template-columns: 20% 80%;
      .content--left {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 70%;
          margin-top: 30px;
        }
      }
      .content--right {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .content--right--top {
          width: 100%;
          height: 30%;
          display: flex;
          justify-content: center;
          align-items: center;
          img {
            width: 95%;
            z-index: -1;
          }
        }
        .content--right--box {
          width: 100%;
          height: 70%;
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          .box-stick {
            width: 100%;
            height: 70%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            .box-stick--stick {
              width: 100%;
              height: 40%;
              position: relative;
              .stick {
                position: absolute;
                width: 18%;
              }
              .stick-1 {
                left: 15%;
                top: 5%;
                transform: rotate(-22deg);
                z-index: 1;
              }
              .stick-2 {
                left: 32%;
                transform: rotate(-5deg);
                z-index: 1;
              }
              .stick-3 {
                left: 50%;
                top: -10%;
                transform: rotate(6deg);
                z-index: 1;
              }
              .stick-4 {
                right: 15%;
                top: 0;
                transform: rotate(20deg);
                z-index: 1;
              }
              .stick-loc-sac {
                left: 40%;
                top: 20%;
                display: none;
              }
            }
            .box-stick--box {
              width: 100%;
              height: 60%;
              display: flex;
              justify-content: center;
              z-index: 1;
              img {
                width: 67%;
              }
            }
          }
          .group-btn {
            width: 100%;
            height: 30%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            gap: 20px;
            .button {
              width: 85%;
              height: 30%;
              position: relative;
              img {
                position: absolute;
                width: 100%;
              }
              .button--text {
                position: absolute;
                width: 100%;
                height: 100%;
                text-align: center;
                color: var(--white);
                text-transform: uppercase;
                font-weight: 900;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-top: 3px;
              }
              .group-btn--text-play {
                font-size: 22px;
              }
              .group-btn--text-count {
                font-size: 15px;
              }
            }
          }
        }
      }
    }
    #mask-gift {
      width: 100%;
      height: 900px;
      position: absolute;
      z-index: -1;
      overflow: hidden;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
      header {
        width: 100%;
        height: 25%;
        display: none;
        img {
          width: 125%;
        }
      }
      .background-color-mask {
        display: none;
        background-color: rgba(0, 0, 0, 0.8);
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 2;
      }
      .content {
        width: 100%;
        height: 75%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        .content--envelop {
          width: 100%;
          height: 75%;
          display: flex;
          justify-content: center;
          align-items: end;
          img {
            width: 18%;
            display: none;
          }
        }
        .wrap-content--envelop-base {
          width: 100%;
          height: 25%;
          display: none;
          .content--envelop-base {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: start;
            position: relative;
            .star {
              width: 140%;
              margin-top: -30px;
            }
            .envelop {
              width: 20%;
              position: absolute;
              left: 20px;
              top: -70px;
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 481px) {
  #wrapper {
    min-height: 1000px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    main {
      width: 450px;
      height: 900px;
      box-shadow: 0px 0px 29px 31px rgba(0, 0, 0, 0.1);
      z-index: 1;
    }
    // #mask-gift {
    //   width: 450px;
    //   height: 900px;
    //   box-shadow: 0px 0px 29px 31px rgba(0, 0, 0, 0.1);
    //   z-index: 1;
    //   .content {
    //     .content--envelop {
    //       img {
    //         width: 38%;
    //         z-index: 1;
    //       }
    //     }
    //   }
    // }
  }
}
